Repository Algo-Phantoms/Algo-Tree, pull requests merged in 2021-05, with the labels that each got.

#1829 Queue using circular linked list in C++
  Code/C++/queue_using_circular_list.cpp
  Queue/readme.md
Labels: Level0, cpp, gssoc21, linked-list

#1767 Diameter Of Binary Tree C++
  Code/C++/diameter_of_binary_tree.cpp
  Tree/readme.md
Labels: Binary Tree, Level1, cpp, gssoc21

#1392 Finding Long Factorials in Java
  Algorithm/Special_algo/readme.md
  Code/Java/Long_Factorial.java
Labels: Level1, cpp, gssoc21, special algo

#1460 Added 3 way merge sort
  Algorithm/Searching_Sorting/readme.md
  Code/C++/three_way_merge_sort.cpp
Labels: Level1, cpp, gssoc21, sorting

#1586 Most occurred element of an array #755 Done
  Array/readme.md
  Code/Java/mostoccured.java
Labels: Level0, array, gssoc21, java

#1451 Transpose of a Matrix
  2D_Array/readme.md
  2D_Array/transpose.java
Labels: 2D array, Level0, gssoc21, java

#1751 Balanced_brackets(Python)---> Fixes[#1810]
  Code/Python/Balanced_brackets.py
  Stack/readme.md
Labels: Level0, greedy, gssoc21, python

#1433 Middle element of linked list in Python
  Code/Python/middle_element_linked_list.py
  Linked_list/readme.md
Labels: Level0, gssoc21, linked-list, python

#1363 Is the linked list Plindrome?
  Code/Python/isPalindrome_linked_list.py
  Linked_list/readme.md
Labels: Level1, gssoc21, linked-list, python

#1329 Created search_in_sorted_rotated_array.py
  Array/readme.md
  Code/Python/readme.md
  Code/Python/search_in_sorted_rotated_array.py
Labels: Level1, gssoc21

#1740 Added code for Anagram(python)
  Algorithm/Number_theory/readme.md
  Code/Python/Anagram.py
Labels: Level0, gssoc21, python, string

#1369 Program to check a string a pangram or not issue#925
  Algorithm/Number_theory/readme.md
  Code/Python/check_pangram.py
Labels: Level0, gssoc21

#1853 K-ary Heap
  Code/C++/k_ary_heap.cpp
  Heap/readme.md
Labels: Level1, cpp, gssoc21

#1548 Finding intersection node of two linked lists connected in y shape In cpp
  Code/C++/Intersection_point_of_linked_list.cpp
  Linked_list/readme.md
Labels: Level1, cpp, gssoc21, linked-list

#1398 Recursive Solution of Kth_Symbol_Grammar Added
  Algorithm/Recursion/readme.md
  Code/C++/Kth_Symbol_Grammar.cpp
Labels: Level0, cpp, gssoc21, special algo

#1836 K largest elements ---> Closes : [#1752]
  Array/readme.md
  Code/Java/K Largest Elements.java
Labels: Level0, gssoc21, java

#1811 Counting rotations in a sorted array---> fixes[#1033]
  Array/readme.md
  Code/Python/Count_of_rotations.py
Labels: Level0, gssoc21

#1872 Largest-Cake -C++
  Code/C++/largest_cake.cpp
  Graph/readme.md
Labels: Level1, cpp, gssoc21

#1634 Row wise sum in 2d array
  2D_Array/readme.md
  Code/Java/RowWise_Sum.java
Labels: reviewing

#1903 Top View of a Binary Tree #508 PR
  Code/C++/Top-View.cpp
  Tree/readme.md
Labels: Level0, cpp, gssoc21

#1913 Painting fence problem---->fixes[#1820]
  Algorithm/DP/readme.md
  Code/Java/Paint_fence_algo.java
Labels: Level1, gssoc21, java

#1842 Palindrome Number(PYTHON)
  Algorithm/Number_theory/readme.md
  Code/Python/palindrome_number.py
Labels: Level0, Number Theory, gssoc21, python

#1942 Left View of a binary tree
  Code/C++/left-view.cpp
  Tree/readme.md
Labels: Level0, cpp, gssoc21

#838 Added a C++ code that prints the decimal equivalent of a binary string
  Code/C++/binary_string_to_decimal.cpp
  string/readme.md
Labels: reviewing

#1395 RemoveLoopFromALinkedList.cpp
  Linked_list/RemoveLoopFromLinkedList.cpp
  Linked_list/readme.md
Labels: Level0, cpp, gssoc21, linked-list

#1160 Added Largest rectangle
  Code/C++/Largest_Rectangle.cpp
  Stack/readme.md
Labels: gssoc21

#1755 Trimorphic Number in Java [Fixes #1736]
  Algorithm/Number_theory/readme.md
  Code/Java/trimorphic_number.java
Labels: Level0, gssoc21, java

#1923 WindowSlideMax--- Python
  Algorithm/Number_theory/readme.md
  Code/Python/SlidingWindowMax.py
Labels: Level1, gssoc21, python

#1958 Duplicate array Fixes #777
  Array/readme.md
  Code/Java/dublicate.java
Labels: Level0, gssoc21, java

#1609 Split array largest sum #714 Solved
  Array/readme.md
  Code/Java/splitarraylargestsum.java
Labels: Level2, array, gssoc21, java

#1597 Matrix Addition in Java Added #727
  2D_Array/readme.md
  Code/Java/matrixop_add.java.java
Labels: 2D array, Level1, gssoc21, java

#1624 Union and Intersection of 2 Array added in Java #216
  Array/readme.md
  Code/Java/unionANDinter.java
Labels: Level0, array, gssoc21, java

#1605 Matrix Operation : Inverse of Matrix Added in JAVA
  2D_Array/readme.md
  Code/Java/matrixop_inverse.java.java
Labels: 2D array, Level1, gssoc21, java

#1598 Matrix Subtraction added in java
  2D_Array/readme.md
  Code/Java/matrixop_sub.java.java
Labels: 2D array, Level1, gssoc21, java

#1587 Square Root Added #920 Solved with Readme
  Algorithm/Number_theory/readme.md
  Code/Java/sqrt.java
Labels: Level0, Number Theory, gssoc21, java

#1569 Largest bst
  Tree/LargestBST.cpp
  Tree/readme.md
Labels: Binary Tree, Level1, cpp, gssoc21

#1568 Linked List Palindrome Check.cpp
  Linked_list/PalindromeCheck.cpp
  Linked_list/readme.md
Labels: Level1, cpp, gssoc21, linked-list

#1896 Knight tour ---> Closes : [#1849]
  Algorithm/Backtracking/readme.md
  Code/Java/Knights_Tour.java
Labels: Level2, backtracking, gssoc21, java

#1821 Sliding window maximum-->Closes: [#1750]
  Array/readme.md
  Code/Java/sliding_window_maximum.java
Labels: Level1, array, gssoc21, java

#1250 Longest Palindromic Substring Python
  Algorithm/DP/readme.md
  Code/Python/longest_palindromic_substring.py
  string/readme.md
Labels: Level1, gssoc21, python, string

#1427 Added AVL tree implementation and updated corresponding readme.md
  Code/C++/avl_tree.cpp
  Tree/readme.md
Labels: Binary Tree, Level1, cpp, gssoc21

#1423 added sorted & unsorted ziz-zag array and modified related readme.md
  Array/readme.md
  Code/C++/sorted_zig_zag_array.cpp
  Code/C++/unsorted_zig_zag_array.cpp
Labels: Level1, array, cpp, gssoc21

#1237 Subarray sum greater than x
  Array/readme.md
  Code/C++/subset_sum.cpp
Labels: reviewing

#1980 Shortest common supersequence
  Code/Java/Printing_Shortest_Common_Supersequence.java
  string/readme.md
Labels: Level1, gssoc21

#2050 subtree_size
  Code/C++/subtree_size.cpp
  Graph/readme.md
Labels: Binary Tree, Level1, cpp, gssoc21

#850 ThreeSum
  Array/readme.md
  Code/C++/Three_Sum.cpp
Labels: reviewing

#2053 Kth minimum in array
  Array/readme.md
  Code/Python/Kth_Minimum_in_Array.py
  string/readme.md
Labels: Level1, gssoc21

#2069 Added Split Largest Array Sum Program in CPP
  Array/readme.md
  Code/C++/splitarraylargestsum.cpp
Labels: Level2, array, cpp, gssoc21

#1728 Red Black Tree C++ code added ---> Fixes #1679
  Code/C++/RedBlack_tree.cpp
  Tree/readme.md
Labels: Binary Tree, Level2, cpp, gssoc21

#1566 Bellman Ford Python Implementation
  Code/Python/bellman_ford.py
  Graph/readme.md
Labels: Level1, gssoc21
