Repository Algo-Phantoms/Algo-Tree, pull requests merged in 2021-06, with the labels that each got.

#1997 longest_common_prefix_java code
  Code/Java/Longest_Common_Prefix.java
  string/readme.md
Labels: Level0, gssoc21, java, string

#1808 Kanpsack in python
  Algorithm/DP/readme.md
  Code/Python/knapsack_dp.py
Labels: Level0, dynamic-programming, gssoc21, python

#759 Added Code for palindrome checker using doubly linked list in java
  Linked_list/palindrome_checker.java
  Linked_list/readme.md
Labels: Level0, cpp, gssoc21, linked-list

#1955 Overall median matrix in Java
  2D_Array/readme.md
  Code/Java/overall_median_matrix.java
Labels: 2D array, Level0, cpp, gssoc21

#2077 Binary search implementation
  Algorithm/Searching_Sorting/readme.md
  Code/Java/binary_search.java
Labels: Level0, gssoc21, java, searching

#2074 Stack using Linked List
  Code/Python/stack_using_linked_list.py
  Stack/readme.md
Labels: Level1, gssoc21, linked-list, python

#2071 Added Remove Invalid Parentheses program in cpp
  Code/C++/remove_invalid_parentheses.cpp
  string/readme.md
Labels: Level1, cpp, gssoc21, string

#2000 In Place Merge Sort in C++
  Algorithm/Searching_Sorting/readme.md
  Code/C++/in_place_merge_sort.cpp
Labels: Level0, cpp, gssoc21, sorting
